:root {
	--primary-0: #f5e9ff;
	--primary-1: #e4cfff;
	--primary-2: #c59cff;
	--primary-3: #a565fe;
	--primary-4: #8a37fd;
	--primary-5: #791afd;
	--primary-6: #700bfe;
	--primary-7: #6200ea;
	--primary-8: #5400cb;
	--primary-9: #4700b3;

	--secondary-0: #e1fffe;
	--secondary-1: #ccfffb;
	--secondary-2: #9dfef5;
	--secondary-3: #6afdef;
	--secondary-4: #44fcea;
	--secondary-5: #30fbe7;
	--secondary-6: #1efbe5;
	--secondary-7: #03dac6;
	--secondary-8: #00c7b5;
	--secondary-9: #00ad9c;

	--bg-color-0: #545454;
	--bg-color-1: #4A4A4A;
	--bg-color-2: #404040;
	--bg-color-3: #363636;
	--bg-color-4: #2C2C2C;
	--bg-color-5: #222222;
	--bg-color-6: #181818;

	--text-color-0: #FCFCFCff;
	--text-color-1: #EFEFEFff;
	--text-color-2: #E1E1E1ff;
	--text-color-3: #D4D4D4ff;
	--text-color-4: #C7C7C7ff;
	--text-color-5: #B9B9B9ff;
	--text-color-6: #ACACACff;

	--shadow-color: #000000;
}